Django              
django-crispy-forms 
crispy-bootstrap4
mysqlclient         
setuptools          
simplejson          
sqlparse            
tzdata              
wheel               
whitenoise        
pillow  
asgiref==3.7.2
crispy-bootstrap4==2022.1
Django==4.2.6
django-crispy-forms==2.0
mysql-connector-python==8.1.0
mysqlclient==2.2.0
protobuf==4.21.12
simplejson==3.19.1
sqlparse==0.4.4
tzdata==2023.3
whitenoise==6.5.0
